body { 
  background: #fff;
  color: #000;
}


#contentWrapper {
  background: #f0f0ff;
}


#header { 
  background: #fff;
}

#titleLine {
  border-bottom-color: #97ced5;
}


#mainMenu{
  background: #f0f0ff;
  border-color: #97ced5;
}



.note { 
  background: #fff;
  border-color: red;
}

.note:before { 
  color: red;
}

.cite { 
  background: #fff;
  border-color: #97ced5;
}

.ontarget { 
  background: #fff;
  border-color: #0f0;
}

.plannedtarget { 
  background: #fff;
  border-color: #ff0;
}

.maybetarget { 
  background: #fff;
  border-color: #f00;
}
